---
import Sidebar from "../components/Sidebar.jsx";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Incidencias Utal</title>
	</head>
	<body>
		<div class="flex h-screen bg-gray-100">
            <Sidebar />
			<main class="flex-1 overflow-y-auto p-6">
				<slot />
			</main>
        </div>
	</body>
</html>
